@import "../../styles";

@include resetBrowserDefaults

.Article {
  @include flexBox;
  flex-direction: column;

  &__Header {
    background-color: red;
  }

  &__Body {
    background: green;
  }

  &__Nav {
    background: blue;
  }
}
