<div class="Article">

  <div class="Article__Nav">
    <ng-content select="wc-nav"></ng-content>
  </div>

  <div class="Article__Header">
    <ng-content select="wc-header"></ng-content>
  </div>

  <div class="Article__Body">
    <ng-content select="wc-body"></ng-content>
  </div>

</div>
