@mixin resetBrowserDefaults {
  * {
    margin: 0;
    padding: 0;
  }
}

@mixin flexBox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

$minDesktopSize: 768px;

@mixin aboveScreenSize($size) {
  @media (min-width: $size) {
    @content;
  }
}
